.navbar {
    display: flex;
    justify-content: center;
    background-color: #ccc;
    padding: 10px 0;
    border-radius: 5px;
    font-family: sans-serif;

    &__container {
        width: 1320px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 20px;
        text-transform: capitalize;
        cursor: pointer;
    }

    &__btn {
        padding: 5px 10px;
        font-size: 18px;
        background-color: white;
        border: none;
        border-radius: 5px;
        transition: color, background-color 0.2s ease-in-out;

        &:hover{
            color: white;
            background-color: black;
        }
    }
}

@media screen and (max-width: 1200px) {
    .navbar {
        &__container {
            width: 960px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        &__container {
            width: 720px;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        &__container {
            width: 100%;
        }
    }
}