body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;

    &__input,
    &__button {
        font-family: sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
    }

    &__title {
        text-align: center;
        margin: 0 0 32px 0;
        font-weight: normal;
    }

    &__group {
        position: relative;
        margin-bottom: 32px;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        color: #9e9e9e;
        transition: all 0.3s ease-in-out
    }

    &__input {
        width: 100%;
        padding: 0 0 10px 0;
        border: none;
        border-bottom: 1px solid #e0e0e0;
        background-color: transparent;
        outline: none;
        transition: 0.3s;
    }

    &__input:focus {
        border-bottom: 1px solid #1a73a8;
    }

    &__button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        color: #fff;
        background-color: #0071f0;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
    }

    &__button:focus,
    &__button:hover {
        background-color: rgba(0, 113, 240, 0.7);
    }

    &__input:focus~&__label,
    &__input:not(:placeholder-shown)~&__label {
        top: -18px;
        font-size: 12px;
        color: #e0e0e0;
    }

}
 button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
 }

 .error-message{
    background-color: rgba(255, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
 }


input.ng-invalid.ng-touched{
    border-bottom:1px solid red;
}
input.ng-valid.ng-touched{
    border-bottom:1px solid green;
}
.validation{
    color: red;
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .form {
        height: 400px;
    }

    .form__title {
        margin-bottom: 50px;
    }

    .form__input {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .form__button {
        font-size: 18px;
    }
}