<div>
  <div class="error-message" *ngIf="error">
    {{error}}
  </div>
  <form class="form" [formGroup]="form" (ngSubmit)="submit()" *ngIf="!isLoading">
    <h1 class="form__title">Вход</h1>
    <div class="form__group">
      <input class="form__input" placeholder=" " formControlName="email" />
      <label class="form__label">Email</label>
      <div
        *ngIf="form.get('email').invalid && form.get('email').touched"
        class="validation"
      >
        <small *ngIf="form.get('email').errors.required">Поле email не может быть пустым</small><br/>
        <small *ngIf="form.get('email').errors.email">Введите корректный Email</small>
      </div>
    </div>
    <div class="form__group">
      <input
        type="password"
        class="form__input"
        placeholder=" "
        formControlName="password"
      />
      <label class="form__label">Password</label>
      <div
      *ngIf="form.get('password').invalid && form.get('password').touched"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">Поле password не может быть пустым</small>
          <small *ngIf="form.get('password').errors.minlength">Длина должна быть не менее {{form.get('password').errors.minlength.requiredLength}}.
        Сейчас длина равна {{form.get('password').errors.minlength.actualLength}}.
      </small>
    </div>
    </div>
    <button type="submit" class="form__button" [disabled]="form.invalid">
      Войти
    </button>
  </form>
  <div *ngIf="isLoading"><app-loader></app-loader></div>
</div>

