.devices {
    width: 80vw;

    .devices__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>h1 {
            text-transform: capitalize;
            font-weight: bold;
            font-size: 30px;
        }

        &>button {
            height: 30px;

        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__row {
        display: flex;
    }

    &__row:nth-child(2n) {
        background-color: #ccc;

    }

    &__item {
        width: 200px;
        padding: 5px 20px;
    }
}