<div class="devices container" *ngIf="!loading">
    <div class="devices__header" >
    <h1>item-list</h1>
    <button (click)="logout()">Выйти</button>
  </div>
  <div class="devices__list list">
    <div class="list__header">
      <div class="list__row">
        <div class="list__item">ID</div>
        <div class="list__item">Название</div>
        <div class="list__item">Дата последней активности</div>
      </div>
      <div class="list__row" *ngFor="let device of devices">
        <div class="list__item">{{ device.id }}</div>
        <div class="list__item">{{ device.name }}</div>
        <div class="list__item">
          {{ device.last_active | date: "dd.MM.YYYY HH:mm" }}
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading"><app-loader></app-loader></div>